[submodule "External/GoogleTest/Core"]
	path = External/GoogleTest/Core
	url = https://github.com/google/googletest.git
[submodule "External/CPlfEnv"]
	path = External/CPlfEnv
	url = https://github.com/inegmdev/c-plf-env.git
